
<section id="section-about" class=" about typography light">
  <div class="overlay-wrapper">
    <div class="container">
      <div class="row section">
        <div class=" profile-image">
          <img class="profile" src="../../assets/images/profile.jpg" alt="" />
          <hr class="short transparent">
          <div class="social">
            <ul class="text-center social-icons icon-flat list-unstyled list-inline">
              <li>
                <a href="https://www.linkedin.com/in/mounir-chouladi">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/M0unir">
                  <i class="fa fa-github-alt" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/mounirchouladi">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://codepen.io/M0unir/">
                  <i class="fa fa-codepen" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class=" description ">
          <h1>Hi</h1>
          <p class="test">
            I'm a Front End Software Engineer with 4+ years of professional experience, based in the San Francisco Bay Area.</p>
          <br>
          <p>
            I have worked extensively on diverse sets of great projects, including but not limited to JavaScript driven responsive web
            sites, web applications using AngularJS and Rails Ruby Framework. I am highly experienced in delivering front
            end application layer with HTML, Sass, Javascript and jQuery.</p>
            <br>
          <p>
            Feel free to check out my work, my <a href="https://github.com/m0unir/">github</a> or view my <a class="" href="mailto:mounir.chouladi@gmail.com?subject=Résume%20Request&body=Hello,%0D%0A%0D%0A Nice to meet you. %0D%0A%0D%0ACould you share your resumé with me.%0D%0A%0D%0AThank you.">Résume</a>.
          </p>
        </div>
      </div>
      <div class=" skills">
        <div class="row typography ">
          <div class="col-full">
            <h4 class="border border-long">Skills
            </h4>
          </div>
          <div class="front-end">
            <div class="">
              <h6>Front End</h6>
            </div>
            <ul class="half-col">
              <li>HTML</li>
              <li>CSS / SASS</li>
              <li>JavaScript</li>
              <li>Gulp / Grunt</li>
            </ul>
            <ul class="half-col">
              <li>Twitter Bootstrap</li>
              <li>jQuery</li>
              <li>AngularJS</li>
            </ul>
          </div>
          <div class="back-end">
            <div class="">
              <h6>Back End</h6>
            </div>
            <ul class="col-full">
              <li>Ruby on Rails</li>
              <li>Node.js</li>
              <li>MongoDB / SQL</li>
            </ul>
          </div>
        </div>
        <div class="row typography">
          <div class="techniques">
            <h4 class="border">Techniques</h4>
            <ul>
              <li>MVC Architecture</li>
              <li>
                <a class="link" href="https://developers.google.com/speed/docs/insights/rules">Performance Optimization</a>
              </li>
              <li>Responsive Design</li>
              <li>On-Site Optimization</li>
              <li>Ajax</li>
            </ul>
          </div>
          <div class="tools">
            <h4 class="border">Tools</h4>
            <ul>
              <li>
                <a class="link" href="http://atom.io">Atom Editor</a>
              </li>
              <li>
                <a class="link" href="http://code.visualstudio.com">VS Code</a>
              </li>
              <li>Adobe Photoshop</li>
              <li>Chrome DevTools</li>
              <li>Git/Github</li>
              <li>iTerm2</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>