<div class="intro intro-projects typography">
  <div class="section-overlay-projects"></div>
  <div class="intro-inner header-block typography ">
    <h1 class="home animated fadeIn">PROJECTS</h1>
    <h6 class="animated fadeIn">
      <p>Some of the projects I've worked on and companies I've had the pleasure of working with.</p>
    </h6>
    <a class="scroller" duration="1000" du-smooth-scroll="section-projects">
      <span></span>Scroll
    </a>
  </div>
</div>
<section class="projects typography section-work" id="section-projects" du-smooth-scroll>
  <div class="overlay-wrapper"> 
  <div class="container">
    <div class="projects-view" ui-view></div>
  </div>
  </div>
</section>
